body {
  text-align: center;
  color: #02353f;
  background-color: rgba(2, 59, 90, 0.667);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  text-align: center;
  color: #02353f;  
  background-color: rgba(2, 130, 119, 0.667);
}
 footer {
 text-align: center;
 color: #02353f;
 background-color: #0dca;
 }
 button {
  text-align: center;
  color: #02353f;
  background-color: #0dca;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;

  }

img {
  text-align: center;
  color: #06c8ee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dice-6 {
  width:175px;
  height:165px;
  text-align:center;
  display:inline-block;
  position:relative;
  transform-style:preserve-3d
  
 }
